<h1>ドライバー一覧</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>電話番号</th>
    </tr>
  </thead>
  <tbody>
    <% @workers.each do | worker | %>
      <tr>
        <td><%= worker.name %></td>
        <td><%= worker.tel %></td>
      </tr>
    <% end %>
  </tbody>
</table>